ABS_SDK_KNOWN_170000 = YES
ABS_SDK_KNOWN_180000 = YES
ABS_SDK_KNOWN_260000 = YES
ABS_SDK_KNOWN_270000 = YES
ABS_SDK_BASE_170000 =
ABS_SDK_BASE_180000 = ABS_SDK_18
ABS_SDK_BASE_260000 = ABS_SDK_18 ABS_SDK_26
ABS_SDK_BASE_270000 = ABS_SDK_18 ABS_SDK_26 ABS_SDK_26_1
ABS_SDK_MINOR_260000 =
ABS_SDK_MINOR_260100 = ABS_SDK_26_1
ABS_SDK_MINOR_260200 = ABS_SDK_26_1
ABS_SDK_MINOR_260300 = ABS_SDK_26_1
ABS_SDK_MINOR_260400 = ABS_SDK_26_1
ABS_SDK_MINOR_260500 = ABS_SDK_26_1
ABS_SDK_MINOR_260600 = ABS_SDK_26_1
ABS_SELECTED_SDK_KNOWN = $(ABS_SDK_KNOWN_$(SDK_VERSION_MAJOR))
ABS_SELECTED_SDK_CAPABILITIES = $(ABS_SDK_BASE_$(SDK_VERSION_MAJOR)) $(ABS_SDK_MINOR_$(SDK_VERSION_MINOR))
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) ABS_SDK_CONTRACT $(ABS_SELECTED_SDK_CAPABILITIES)
