<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.audiobookshelf.android.journeys.OtherAppActivity" android:exported="true" android:label="Other app">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="application/epub+zip" />
            </intent-filter>
        </activity>
        <activity android:name="com.audiobookshelf.android.journeys.ForeignBrowserActivity" android:exported="true" android:label="Foreign browser" />
        <provider android:name="com.audiobookshelf.android.journeys.ArchiveProvider" android:authorities="com.audiobookshelf.journeys.archives" android:exported="true" />
    </application>
</manifest>
